@tailwind base;
@tailwind components;
@tailwind utilities;

*{padding: 0; margin: 0; box-sizing: border-box;}
body{background: #000;}

button {
  padding: 6px 0;
  font-weight: 900;
  border: 1px solid #bbb;
  margin: 3.5px;
  cursor: pointer;
  color: #fff;
  width: 75px;
}
@media( width >= 1280px){
  button {
    margin: 0 6px;
  }
}

button:hover {
  color: #000;
}

button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em #000;
}